<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iris Classification</title>
    <style>
        h1 {
            color: red;
        }
    </style>
</head>
<body>
    <h1>KNN Model</h1>
    <form action="{{ url_for('predict')}}" method="POST">
        Radius_Mean:  <input type="number" name="radius_mean"></br>
        Perimeter_Mean:  <input type="number" name="perimeter_mean"></br>
	    Area_Mean:  <input type="number" name="area_mean"></br>
	    Compactness_Mean:  <input type="number" name="compactness_mean"></br>
        Concavity_Mean:  <input type="number" name="concavity_mean"></br>
        Concave_Points_Mean: <input type="number" name="concave_points_mean"></br>
	    Radius_Se:  <input type="number" name="radius_se"></br>
	    Perimeter_Se:  <input type="number" name="perimeter_se"></br>
        Area_Se:  <input type="number" name="area_se"></br>
        Radius_Worst:  <input type="number" name="radius_worst"></br>
	    Perimeter_Worst:  <input type="number" name="perimeter_worst"></br>
	    Area_Worst:  <input type="number" name="area_worst"></br>
        Compactness_Worst:  <input type="number" name="compactness_worst"></br>
        Concavity_Worst: <input type="number" name="concavity_worst"></br>
	    Radius_Se:  <input type="number" name="radius_se"></br>
	    Concave_Points_Worst:  <input type="number" name="concave_points_worst"></br>

        <input type=submit value=Submit>
   </form>
    <h1>My final prediction: {{ predict }}</h1>
</body>
</html>